<!DOCTYPE html>
<html{{ with .Site.LanguageCode }} lang="{{ . }}"{{ end }}>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="{{ delimit .Site.Params.Keywords ", " }}">
    <meta name="author" content="{{ .Site.Params.Author }}">
    <meta name="description" content="Small things I learn that help me along the way">
    <meta property="og:title" content="{{ $isHomePage := eq .Title .Site.Title }}{{ .Title }}{{ if eq $isHomePage false }} - {{ .Site.Title }}{{ end }}">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:description" content="{{ .Site.Params.Description }}">
    <meta property="og:type" content="website" />
    <title>{{ .Title }}{{ if eq .IsHome false }} | {{ .Site.Title }}{{ end }}</title>
    <link rel="shortcut icon" href="{{ .Site.BaseURL }}/favicon.ico">
    <link rel="apple-touch-icon" href="{{ .Site.BaseURL }}/apple-touch-icon.png">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/style.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/light.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
  </head>
